.listBlock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 8px;
  background-color: var(--color-card-bg-2);
}

.listBlockSubscriptions {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sectionSpacer {
  margin-top: 1rem;
}